@page "/base64Converter"
@using System.Text

<h1>Base 64 Converter</h1>
<div class="form-group">
    <textarea class="form-control col-md-6" placeholder="Non Base64" @bind-value="NonBase64Element" @bind-value:event="oninput"></textarea>
    <small class="form-text text-muted">This is the value you want to encode as base64</small>
</div>

<button class="btn btn-primary" type="button" @onclick="ConvertToBase64">
    <span class="oi oi-arrow-thick-bottom"></span> Encode
</button>

<button class="btn btn-success" type="button" @onclick="ConvertFromBase64">
    <span class="oi oi-arrow-thick-top"></span> Decode
</button>

<div class="form-group mt-4">
    <textarea class="form-control col-md-6" placeholder="Base64" @bind-value="Base64Element" @bind-value:event="oninput"></textarea>
    <small class="form-text text-muted">This is the value you want to encode from base64</small>
</div>

@code {
    private string Base64Element { get; set; }
    private string NonBase64Element { get; set; }
    
    private void ConvertToBase64()
    {
        var plainText = Encoding.UTF8.GetBytes(NonBase64Element ?? string.Empty);
        Base64Element = Convert.ToBase64String(plainText);

    }

    private void ConvertFromBase64()
    {
        var base64EncodeBytes = Convert.FromBase64String(Base64Element);
        NonBase64Element = Encoding.UTF8.GetString(base64EncodeBytes);
    }
}