@page "/fetchdata"
@inject HttpClient Http

<h1>Person Data</h1>

<p>List of persons</p>

@if (_persons == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in _persons)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.Name</td>
                <td>@person.Surname</td>
            </tr>
        }
        </tbody>
    </table>
}